Repository 4iranorg/amplifier-ext: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

stylelint:
  name: stylelint
  entry: pnpm exec stylelint --fix
  language: system

Skip eslint and stylelint hooks in CI
  .pre-commit-config.yaml
Due: none

Add SEO meta tags, robots.txt, and sitemap (#9)
  .pre-commit-config.yaml
  docs/CNAME
  docs/index.html
  docs/privacy.html
  docs/quickstart.html
  docs/robots.txt
  docs/sitemap.xml
  docs/terms.html
Due: none

Add anti-negotiation stance to prompts, arguments, and CTAs
  src/lib/config-loader.js
Due: eslint

Fix quote intent to properly embed original tweet
  src/content/panel.js
Due: eslint

Add anti-negotiation stance to prompts, arguments, and CTAs (#12)
  src/content/panel.js
  src/lib/config-loader.js
Due: eslint

Use native compose dialog for reply/quote with paste-based text insertion
  src/background/service-worker.js
  src/content/panel.js
  src/lib/api.js
  src/lib/config-loader.js
Due: eslint

Use native compose dialog for reply/quote with paste-based text insertion (#13)
  src/background/service-worker.js
  src/content/panel.js
  src/lib/api.js
  src/lib/config-loader.js
Due: eslint

Release v0.3.0
  CHANGELOG.md
  manifest.json
  src/content/content.css
Due: stylelint

Update landing page and quickstart to link to Firefox Add-ons
  docs/index.html
  docs/quickstart.html
Due: none

Update landing page and quickstart to link to Firefox Add-ons (#14)
  docs/index.html
  docs/quickstart.html
Due: none

Restructure landing page for first-time visitor clarity
  docs/index.html
  docs/landing.css
  src/styles/landing/landing.scss
Due: stylelint

Restructure landing page for first-time visitor clarity (#15)
  docs/index.html
  docs/landing.css
  docs/quickstart.html
  src/styles/landing/landing.scss
Due: stylelint

Path conditions:
  eslint: any of: \.js$
  stylelint: any of: \.(scss|css)$
